.btn-purple {
   color: #fff;
   background-color: #793fe4f8;
   border-color: #793fe4f8;
}

.btn-purple:hover {
   color: #fff;
   background-color: #6116ecf8;
   border-color: #6116ecf8;
}

.btn-outline-purple {
   color: #7e47e6f8;
   border-color: #7e47e6f8;
}

.btn-outline-purple:hover {
   color: #fff;
   background-color: #7e47e6f8;
   border-color: #7e47e6f8;
}

#novo-contato {
   margin-top: 400px;
   margin-bottom: 400px;
   
}

#editar-contato {
   margin-top: 400px;
   margin-bottom: 400px;

}
